# IDE specific directory
.idea
# best practice if everybody individually installs the virtual environment
.venv
program/__pycache__/
tests/__pycache__/
# Python compiled files and cache directories
*.pyc
__pycache__/
